version: '3'

services:
  restate:
    image: docker.io/restatedev/restate:1.0
    ports:
      - '8080:8080'
      - '9070:9070'
    environment:
      - 'RESTATE_CONFIG=/etc/config/restate.toml'
    volumes:
      - ./restate.toml:/etc/config/restate.toml
    extra_hosts:
      - 'host.docker.internal:host-gateway'
